@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-m{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}



@font-face {
  font-family: "Aileron";
  src: url("/font/aileron/Aileron-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: "Aileron";
  src: url("/font/aileron/Aileron-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: medium;
}


@font-face {
  font-family: "Aileron";
  src: url("/font/aileron/Aileron-SemiBold.otf") format("opentype");
  font-weight: 600; 
  font-style: normal; 
}



@font-face {
  font-family: "Aileron";
  src: url("/font/aileron/Aileron-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("/font/aileron/Aileron-Bold.otf") format("opentype");
  font-weight: 900;
  font-style: bold;
}


@font-face {
  font-family: "Aileron";
  src: url("/font/aileron/Aileron-Regular.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}





@theme {
  --color-primary:#6eb6ce;
  --color-secondary:#818181;
  --color-third:#BDDBD1;

  

}




 @import "tailwindcss";